.root {
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 0px;
}
.navigation:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.section__eYcxF {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: auto;
  top: auto;
  height: 100vh;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__eYcxF > * {
  grid-column: 4;
}
.hero:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__vl52G {
  display: grid;
  position: absolute;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: 50%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%) translateZ(0px);
  height: auto;
  min-width: 0px;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__vl52G > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__vl52G > * {
    grid-column: 4;
  }
}
.blurFade__yP7Tk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__m8XC {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: var(--font-universal-sans-display);
  font-size: 56px;
  font-weight: 500;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__m8XC {
    font-size: 32px;
  }
}
.text__vkN9Q {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-family: var(--font-universal-sans-display);
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-decoration-line: none !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vkN9Q {
    font-size: 18px;
  }
}
.section___05VAo {
  display: grid;
  position: absolute;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: 50%;
  top: 90%;
  transform: translateX(-50%) translateY(-50%) translateZ(0px);
  height: auto;
  min-width: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___05VAo > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___05VAo > * {
    grid-column: 4;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__h5LGi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__h5LGi {
    flex-direction: column;
    padding: 2px;
  }
}
.blurFade__wDW7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__wxO3P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--font-universal-sans-text);
  font-size: 28px;
  font-weight: 600;
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wxO3P {
    font-size: 22px;
  }
}
.text__bAqwv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--font-universal-sans-text);
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bAqwv {
    font-size: 16px;
  }
}
.column__arYR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__arYR {
    padding: 2px;
  }
}
.blurFade__oUO6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xWzD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--font-universal-sans-text);
  font-size: 28px;
  font-weight: 600;
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xWzD {
    font-size: 22px;
  }
}
.text__aRo9N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--font-universal-sans-text);
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aRo9N {
    font-size: 16px;
  }
}
.column__dh7Mk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dh7Mk {
    padding: 2px;
  }
}
.blurFade__borVr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml:global(.__wab_instance) {
    font-size: 22px;
  }
}
.text__jNCuA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--font-universal-sans-text);
  font-size: 18px;
  font-weight: 500;
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jNCuA {
    font-size: 16px;
  }
}
.section__htk6 {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-row-gap: 16px;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  margin: 6rem auto;
}
.section__htk6 > * {
  grid-column: 4;
}
.boxReveal__pEv89:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__st85T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 400px;
  font-family: var(--font-universal-sans-display);
  font-weight: 500;
  font-size: 28px;
  justify-self: flex-start;
  text-align: center;
  color: #171a20;
}
.boxReveal__u8UzA:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xc7T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 560px;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 16px;
  justify-self: flex-start;
  text-align: center;
  color: #393c41;
}
.section__qLw9L {
  display: flex;
  position: relative;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #000000;
  flex-direction: column;
  min-width: 0;
}
.imageGradient__bwydN:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: auto;
  max-height: 1080px;
  position: relative;
  left: auto;
  top: auto;
  min-height: 565px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .imageGradient__bwydN:global(.__wab_instance) {
    height: auto;
  }
}
.singleProductText__mFrPe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.multipleProduct:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.imageGradient__w3Ws:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  max-height: 1080px;
  position: relative;
  left: auto;
  top: auto;
  min-height: 565px;
  align-self: center;
  width: var(--token-TtTObZ97XkV6);
  border-radius: 4px;
}
.singleProductText__veONm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.imageGradient__m9A87:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: auto;
  max-height: 1080px;
  position: relative;
  left: auto;
  top: auto;
  min-height: 565px;
  align-self: center;
  width: var(--token-TtTObZ97XkV6);
  border-radius: 4px;
}
.singleProductText__quhfr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
