.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  --plsmc-rc-col-gap: 64px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7DcWp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__rYgfR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__rYgfR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__rYgfR > :global(.__wab_flex-container) > *,
.freeBox__rYgfR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rYgfR > :global(.__wab_flex-container) > picture > img,
.freeBox__rYgfR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.text___0TpJ2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-transform: uppercase;
  margin-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0TpJ2 {
    text-align: center;
  }
}
.text__swYs4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__swYs4 {
    text-align: center;
  }
}
.column__f17Kz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__f17Kz {
    padding: 0px;
  }
}
.freeBox__okdpf {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__okdpf {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding: 0px;
  }
}
.freeBox__p4Dph {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.link__sNobK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__dlc8D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dlc8D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__dlc8D > :global(.__wab_flex-container) > *,
.freeBox__dlc8D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dlc8D > :global(.__wab_flex-container) > picture > img,
.freeBox__dlc8D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dlc8D > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__xTkJo {
  object-fit: cover;
  max-width: 18px;
  color: #ffffff;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text__g9Fpp {
  color: #ffffff;
  height: 27px;
}
.freeBox___5VoNt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5VoNt {
    align-items: center;
    justify-content: center;
  }
}
.link__oEcv2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eQui {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__eQui > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__eQui > :global(.__wab_flex-container) > *,
.freeBox__eQui > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eQui > :global(.__wab_flex-container) > picture > img,
.freeBox__eQui
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eQui > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg___6OoAg {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text__pMoYo {
  color: #ffffff;
  height: auto;
  font-size: 14px;
  margin-bottom: 0px;
}
.freeBox___7Lylc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__agoVk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xNbtf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xNbtf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xNbtf > :global(.__wab_flex-container) > *,
.freeBox__xNbtf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xNbtf > :global(.__wab_flex-container) > picture > img,
.freeBox__xNbtf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xNbtf > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__roKii {
  object-fit: cover;
  max-width: 20px;
  color: #ffffff;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text___1WVd8 {
  color: #ffffff;
  height: 27px;
}
.freeBox__r7IfE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__j4ISr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pvCxh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pvCxh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__pvCxh > :global(.__wab_flex-container) > *,
.freeBox__pvCxh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pvCxh > :global(.__wab_flex-container) > picture > img,
.freeBox__pvCxh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pvCxh > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__hfkCu {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text__yVgdC {
  color: #ffffff;
  height: auto;
  font-size: 14px;
}
.freeBox__jvmmV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__j85Lm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xokzh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xokzh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xokzh > :global(.__wab_flex-container) > *,
.freeBox__xokzh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xokzh > :global(.__wab_flex-container) > picture > img,
.freeBox__xokzh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xokzh > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__eX7Ba {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text__y6FGv {
  color: #ffffff;
  height: 27px;
}
.freeBox__fdIDy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___9JGZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__kmvc9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__kmvc9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kmvc9 > :global(.__wab_flex-container) > *,
.freeBox__kmvc9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kmvc9 > :global(.__wab_flex-container) > picture > img,
.freeBox__kmvc9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kmvc9 > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.svg__xxEQn {
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 20px;
  flex-shrink: 0;
  height: 1em;
}
.text__zs6N {
  color: #ffffff;
  height: auto;
  font-size: 14px;
}
.column__ki7On {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__oRry4 {
  color: #ffffff;
}
