.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.rootWrapper:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.doorWrapper:global(.__wab_instance) {
  object-fit: cover;
}
.configuratorWrapper:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__k7FLs {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--font-neue-haas-grotesk);
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  text-align: center;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
.text__mwClw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  color: #53535399;
  text-align: center;
  font-family: var(--font-neue-haas-grotesk);
  min-width: 0;
}
.jenisPintu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.jenisPintu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.jenisPintu > :global(.__wab_flex-container) > *,
.jenisPintu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.jenisPintu > :global(.__wab_flex-container) > picture > img,
.jenisPintu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text___0Na67 {
  position: relative;
  height: auto;
  font-family: var(--font-neue-haas-grotesk);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  text-align: center;
  width: 100%;
  min-width: 0;
}
.chooseDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ukuranPintu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.ukuranPintu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.ukuranPintu > :global(.__wab_flex-container) > *,
.ukuranPintu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ukuranPintu > :global(.__wab_flex-container) > picture > img,
.ukuranPintu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text___1DgB {
  position: relative;
  height: auto;
  font-family: var(--font-neue-haas-grotesk);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.sizeDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.finishingPintu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.finishingPintu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.finishingPintu > :global(.__wab_flex-container) > *,
.finishingPintu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.finishingPintu > :global(.__wab_flex-container) > picture > img,
.finishingPintu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__tyLu4 {
  height: auto;
  font-family: var(--font-neue-haas-grotesk);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.finishingDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.finishingVariant {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.finishingVariant > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.finishingVariant > :global(.__wab_flex-container) > *,
.finishingVariant > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.finishingVariant > :global(.__wab_flex-container) > picture > img,
.finishingVariant
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__vbWtE {
  height: auto;
  font-family: var(--font-neue-haas-grotesk);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.finishingVariant__gcuKx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.groovingPintu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.groovingPintu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.groovingPintu > :global(.__wab_flex-container) > *,
.groovingPintu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.groovingPintu > :global(.__wab_flex-container) > picture > img,
.groovingPintu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text___0HCv {
  position: relative;
  height: auto;
  font-family: var(--font-neue-haas-grotesk);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  padding-bottom: 0px;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.grooveDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.kusen {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.kusen > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.kusen > :global(.__wab_flex-container) > *,
.kusen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.kusen > :global(.__wab_flex-container) > picture > img,
.kusen > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text__aoB7O {
  height: auto;
  font-family: var(--font-neue-haas-grotesk);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.frameDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tambahan {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.tambahan > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.tambahan > :global(.__wab_flex-container) > *,
.tambahan > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tambahan > :global(.__wab_flex-container) > picture > img,
.tambahan
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__dD9Rb {
  height: auto;
  font-family: var(--font-neue-haas-grotesk);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
  width: 100%;
  text-align: center;
  min-width: 0;
}
.addonDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.detailPrice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
