.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.viewerWrapper:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.doorViewer:global(.__wab_instance) {
  object-fit: cover;
}
.configuratorWrapper:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__k7FLs {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: center;
  font-family: var(--font-universal-sans-display);
  font-weight: 500;
  font-size: 36px;
  color: #000000;
  text-align: center;
  padding: 0px 0px 2rem;
}
.jenisPintu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.jenisPintu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.jenisPintu > :global(.__wab_flex-container) > *,
.jenisPintu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.jenisPintu > :global(.__wab_flex-container) > picture > img,
.jenisPintu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text___0Na67 {
  position: relative;
  height: auto;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.chooseDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ukuranPintu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.ukuranPintu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.ukuranPintu > :global(.__wab_flex-container) > *,
.ukuranPintu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ukuranPintu > :global(.__wab_flex-container) > picture > img,
.ukuranPintu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text___1DgB {
  position: relative;
  height: auto;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.sizeDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.bahanPintu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.bahanPintu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.bahanPintu > :global(.__wab_flex-container) > *,
.bahanPintu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bahanPintu > :global(.__wab_flex-container) > picture > img,
.bahanPintu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text___09NR2 {
  position: relative;
  height: auto;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.typeDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.finishingPintu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.finishingPintu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.finishingPintu > :global(.__wab_flex-container) > *,
.finishingPintu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.finishingPintu > :global(.__wab_flex-container) > picture > img,
.finishingPintu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__tyLu4 {
  height: auto;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
}
.finishingDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.tambahan {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.tambahan > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.tambahan > :global(.__wab_flex-container) > *,
.tambahan > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tambahan > :global(.__wab_flex-container) > picture > img,
.tambahan
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__dD9Rb {
  height: auto;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
}
.addonDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.kusen {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.kusen > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.kusen > :global(.__wab_flex-container) > *,
.kusen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.kusen > :global(.__wab_flex-container) > picture > img,
.kusen > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.text__aoB7O {
  height: auto;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
}
.frameDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.wrapper:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.finishingKusen {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 0px;
}
.finishingKusen > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.finishingKusen > :global(.__wab_flex-container) > *,
.finishingKusen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.finishingKusen > :global(.__wab_flex-container) > picture > img,
.finishingKusen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__g4SLw {
  height: auto;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
}
.finishingFrame:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.engsel {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 0px;
}
.engsel > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.engsel > :global(.__wab_flex-container) > *,
.engsel > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.engsel > :global(.__wab_flex-container) > picture > img,
.engsel
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text___4OjVi {
  height: auto;
  font-family: var(--font-universal-sans-text);
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  position: relative;
}
.hingeDoor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.detailPrice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
